

<nav class="text-2xl flex flex-row items-center justify-between border-b-2 h-full">
    <div class="p-2 text-3xl font-extralight">Calendly Clone</div>
    <div class="h-full flex flex-row items-center justify-center">
      <div class="flex flex-col h-full items-center justify-center">
        <a class="text-black hover:bg-gray-100 active:bg-gray-300 hover:cursor-pointer h-full text-lg p-2"
        href="http://localhost:5173" target="_self">Connect with you?</a>
      </div>
      <div class="text-lg text-cyan-800 font-medium p-2">{{this.loggedUser.name}}</div>
      <button class="border-2 p-2 border-solid rounded-lg text-xl hover:bg-gray-50 active:bg-gray-100">Logout</button>
    </div>
</nav>
  