@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    position: inherit;
    top: 7%;
    height: 93%;
    width: 100%;
}

.vl{
    border-left: 2px solid rgb(209, 213, 219);
    height: 500px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 30%;
    margin-left: -3px;
}